@import url(../section-title/section-title.css);
@import url(../section-subtitle/section_subtitle.css);
@import url(./__logo/resources__logo.css);
@import url(./__logo-zone/resources__logo-zone.css);


.resources{
  width: 100%;
  padding-top: 100px;
  padding-bottom: 217px;
  display: flex;
  flex-direction: column;
  
}
