@import url(../section-subtitle/section_subtitle.css);
@import url(../section-title/section_title.css);
@import url(../table/table.css);
.digits{
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}
