@import url(./__iframes/video__iframes.css);
@import url(./__iframe/video__iframe.css);
@import url(../section-subtitle/section_subtitle.css);
@import url(../section-title/section_title.css);

.video{
  padding-top:100px;
  margin-bottom: -60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

