@import url(./__triangle/kaufman__triangle.css);
@import url(./__section_margin/kaufman__section_margin.css);
@import url(./_theme_dark/kaufman_theme_dark.css);
@import url(../table/__cell/_theme_dark/table__cell_theme_dark.css);
@import url(../section-subtitle/section_subtitle.css);
@import url(../section-title/section_title.css);
@import url(../table/table.css);

.kaufman {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #1f1f1f;
  overflow: hidden;
  color:white;
  padding-top: 90px;
  padding-bottom: 90px;
}
